@import url("@blocknote/react/style.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bn-container {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 0 0% 100%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
}

.bn-container.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 210 40% 98%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

.bn-container * {
  @apply border-border;
}
.bn-editor {
  @apply bg-background text-foreground;
}

:focus-visible {
  outline: none;
}

[data-radix-popper-content-wrapper] {
  z-index: 99999 !important;
}

.bn-side-menu {
  display: flex;
  justify-content: center;
}

.bn-side-menu .bn-button {
  padding: 0;
  height: 24px;
}

.bn-select {
  max-height: var(--radix-select-content-available-height);
}

.bn-menu-dropdown {
  max-height: var(--radix-dropdown-menu-content-available-height);
}

.bn-color-picker-dropdown {
  overflow: auto;
}

.bn-suggestion-menu-item[aria-selected="true"],
.bn-suggestion-menu-item:hover {
  background-color: hsl(var(--accent));
}
