.top-banner {
  background-color: #fef6d5;
  color: #000;
  text-align: center;
  padding: 0.2em 0;
  font-size: 0.8em;
  font-style: italic;
  border-bottom: 1px solid #e5e7eb;
}

.top-banner a {
  text-decoration: underline;
}
