.wrapper {
  height: calc(100vh - 20px);
}

.wrapper > .bn-container {
  margin: 0;
  max-width: none;
  padding: 0;
}

.layout {
  display: flex;
  gap: 8px;
  height: calc(100vh - 20px);
}

.editor-panel {
  flex: 1;
  height: calc(100vh - 20px);
  min-width: 0;
  overflow: auto;
  position: relative;
}

.editor-panel .bn-container {
  height: calc(100vh - 20px);
  margin: 0;
  max-width: none;
  padding: 0;
}

.editor-panel .bn-editor {
  height: calc(100vh - 20px);
  overflow: auto;
}

.sidebar-section {
  background-color: var(--bn-colors-disabled-background);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 20px);
  overflow: auto;
  width: 350px;
}

.sidebar-section .settings {
  padding: 8px;
}

.show-history-button {
  background-color: var(--bn-colors-menu-background);
  border: var(--bn-border);
  border-radius: var(--bn-border-radius-medium);
  box-shadow: var(--bn-shadow-medium);
  color: var(--bn-colors-menu-text);
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  padding: 6px 12px;
  position: absolute;
  right: 16px;
  top: 16px;
}

.settings-select {
  display: flex;
  gap: 10px;
}

.settings-select .bn-toolbar {
  align-items: center;
}

.settings-select h2 {
  color: var(--bn-colors-menu-text);
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  padding-left: 14px;
}

@media (max-width: 600px) {
  .layout {
    gap: 0;
  }

  .sidebar-section {
    width: 100%;
  }
}
