html {
  -webkit-font-smoothing: antialiased;
}

body {
  overscroll-behavior: none;
}

:root {
  -webkit-font-smoothing: antialiased;
  --color-fd-background: hsl(0, 0%, 100%);
  --color-fd-foreground: hsl(0, 0%, 9%);
  --color-fd-card: hsl(0, 0%, 100%);
  --color-fd-card-foreground: hsl(0, 0%, 9%);
  --color-fd-muted: hsl(0, 0%, 95%);
  --color-fd-muted-foreground: hsl(0, 0%, 40%);
  --color-fd-accent: hsl(0, 0%, 98%);
  --color-fd-accent-foreground: hsl(0, 0%, 9%);
  --color-fd-primary: oklch(0.5761 0.2508 258.23);
  --color-fd-secondary: hsl(0, 0%, 98%);
  --color-fd-border: hsl(0, 0%, 92%);
}

.dark {
  --color-fd-background: hsl(0, 0%, 0%);
  --color-fd-foreground: hsl(0, 0%, 93%);
  --color-fd-card: hsl(0, 0%, 0%);
  --color-fd-card-foreground: hsl(0, 0%, 93%);
  --color-fd-muted: hsl(0, 0%, 8%);
  --color-fd-muted-foreground: hsl(0, 0%, 63%);
  --color-fd-accent: hsl(0, 0%, 5%);
  --color-fd-accent-foreground: hsl(0, 0%, 93%);
  --color-fd-primary: oklch(0.5761 0.2508 258.23);
  --color-fd-secondary: hsl(0, 0%, 5%);
  --color-fd-border: hsl(0, 0%, 18%);
}

#nd-sidebar,
.dark #nd-sidebar {
  background: var(--color-fd-background);
}

/* TODO: Don't think we should need to add this manually - bug in fumadocs? */
#nd-subnav [data-active="true"] {
  color: var(--color-fd-primary);
}

:focus-visible {
  box-shadow: unset !important;
}

.demo .bn-container:not(.bn-comment-editor),
.demo .bn-editor {
  height: 100%;
}

.demo .bn-container:not(.bn-comment-editor) .bn-editor {
  height: 100%;
  border-radius: var(--bn-border-radius-medium);
}

.demo .bn-editor {
  overflow: auto;
  padding-block: 1rem;
}

.demo-contents a {
  color: revert;
  text-decoration: revert;
}

.demo code.bn-inline-content {
  font-size: 1em;
  line-height: 1.5;
  display: block;
}
