.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.item {
    border-radius: 0.5rem;
    flex: 1;
    overflow: hidden;
}

.item.bordered {
    border: 1px solid gray;
}

.item pre {
    border-radius: 0.5rem;
    height: 100%;
    overflow: auto;
    padding-block: 1rem;
    padding-inline: 54px;
    width: 100%;
    white-space: pre-wrap;
}