section {
    --text-color: #000000;
    --bg-color: #FFFFFF;

    --demo-center-x: 50%;
    --demo-center-y: 68%;

    --demo-top: 60%;
    --demo-bottom: 75%;
    --demo-left: calc(50% - 120px);
    --demo-right: calc(50% + 120px);
}

.dark section {
    --text-color: #FFFFFF;
    --bg-color: #000000;
}

@media (width >= 1280px) {
    section {
        --demo-center-x: calc(100% - 315px);
        --demo-center-y: 50%;

        --demo-top: 40%;
        --demo-bottom: 60%;
        --demo-left: calc(100% - 407px);
        --demo-right: calc(100% - 223px);
    }
}

@media (width >= 1440px) {
    section {
        --demo-center-x: calc(50% + 405px);

        --demo-left: calc(50% + 313px);
        --demo-right: calc(50% + 497px);
    }
}

.section-hero {
    background:
            radial-gradient(circle at var(--demo-left) var(--demo-bottom), transparent 250px, var(--bg-color) 600px),
            radial-gradient(circle at var(--demo-right) var(--demo-top), transparent 250px, var(--bg-color) 600px),
            conic-gradient(from 33deg at var(--demo-center-x) var(--demo-center-y), #00eaff80, #5900ff80, #00eaff80);
    filter: blur(100px);
}

.section-features, .section-letter {
    background:
            linear-gradient(var(--bg-color) 80%, transparent),
            linear-gradient(90deg, #5900ff30, #00eaff30);
}

.section-border {
    width: 100%;
    height: 1px;
    background:
            linear-gradient(90deg, #5900ff60, #00eaff60);
}

.feature-icon {
    background: conic-gradient(from 33deg, #00eaff80, #5900ff80, #00eaff80);
}
