/* Custom scrollbar for sidebar */
.bn-threads-sidebar {
  height: 100%;
}

/* Ensure editor content takes full height */
.bn-editor {
  min-height: 100%;
}

.bn-threads-sidebar .bn-thread {
  /* todo: fix in blocknote */
  min-width: auto !important;
}

/* 
(for recording demo video, also needs bn-ai-prompt on combo)
.bn-ai-prompt {
  width: 350px;
} */
