.bn-side-menu[data-block-type="ai"]:not([data-prompt]) {
    height: 58px;
}

.bn-ai-menu {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

div:not(.bn-popover-content) > .bn-ai-menu-input,
div:not(.bn-popover-content) > .bn-ai-menu-items:not(:empty) {
    background-color: var(--bn-colors-menu-background);
    border: var(--bn-border);
    border-radius: var(--bn-border-radius-medium);
    box-shadow: var(--bn-shadow-medium);
    color: var(--bn-colors-menu-text);
    gap: 4px;
    min-width: 145px;
    padding: 2px;
}

/* TODO: How to split UI libs CSS? */
.bn-ai-menu-input .mantine-Input-input {
    border: none;
    font-size: 14px;
    height: 52px;
}

.bn-ai-menu-items {
    max-width: 50%;
}

.bn-ai-menu .bn-suggestion-menu-item {
    height: revert;
}

.bn-ai-menu .bn-mt-suggestion-menu-item-title {
    /*font-size: 12px;*/
}