.emoji-picker {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 0 0 8px #dddddd;

  display: grid;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
  max-height: inherit;

  overflow: auto;

  padding: 8px;

  top: 8px;
}

.emoji-picker-item {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 2px;
  box-shadow: 0 0 4px #dddddd;

  cursor: pointer;

  font-size: 16px;

  align-items: center;
  display: flex;
  flex-direction: row;

  padding: 8px;
}

.emoji-picker-item:hover,
.emoji-picker-item.selected {
  background-color: lightgray;
}
