@import url("@mantine/core/styles.css");

body {
  height: auto;
}

.bn-container {
  padding-top: 8px;
  margin: 0 auto;
  max-width: 731px;
}

.mantine-AppShell-navbar {
  background-color: #f7f7f5;
}

@media (max-width: 767px) {
  .mantine-AppShell-navbar {
    display: none !important;
  }

  .mantine-AppShell-main {
    padding: 0 !important;
  }
}
