@import url("@blocknote/react/style.css");
@import url("./mantineStyles.css");

/* Mantine base styles*/

/* Mantine FileInput component base styles */
.bn-container .mantine-FileInput-input {
    align-items: center;
    background-color: var(--bn-colors-menu-background);
    border: none;
    border-radius: 4px;
    color: var(--bn-colors-menu-text);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bn-container .mantine-FileInput-input:hover {
    background-color: var(--bn-colors-hovered-background);
}

.bn-container .mantine-FileInput-wrapper {
    border: solid var(--bn-colors-border) 1px;
    border-radius: 4px;
}

.bn-container .mantine-InputPlaceholder-placeholder {
    color: var(--bn-colors-menu-text);
    font-weight: 600;
}

/* Mantine Menu component base styles */
.bn-container .mantine-Menu-dropdown {
    background-color: var(--bn-colors-menu-background);
    border: var(--bn-border);
    border-radius: var(--bn-border-radius-medium);
    box-shadow: var(--bn-shadow-medium);
    box-sizing: border-box;
    color: var(--bn-colors-menu-text);
    overflow-y: auto;
}

.bn-container .mantine-Menu-label {
    background-color: var(--bn-colors-menu-background);
    color: var(--bn-colors-menu-text);
}

.bn-container .mantine-Menu-item {
    background-color: var(--bn-colors-menu-background);
    border: none;
    border-radius: var(--bn-border-radius-small);
    color: var(--bn-colors-menu-text);
}

.bn-container .mantine-Menu-item[data-hovered] {
    background-color: var(--bn-colors-hovered-background);
    border: none;
    color: var(--bn-colors-hovered-text);
}

/* Mantine Popover component base styles */
.bn-container .mantine-Popover-dropdown {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

/* Mantine Tabs component base styles */
.bn-container .mantine-Tabs-root {
    width: 100%;
    background-color: var(--bn-colors-menu-background);
}

.bn-container .mantine-Tabs-list:before {
    border-color: var(--bn-colors-hovered-background);
}

.bn-container .mantine-Tabs-tab {
    color: var(--bn-colors-menu-text);
    border-color: var(--bn-colors-hovered-background);
}

.bn-container .mantine-Tabs-tab:hover {
    background-color: var(--bn-colors-hovered-background);
    border-color: var(--bn-colors-hovered-background);
    color: var(--bn-colors-hovered-text);
}

.bn-container .mantine-Tabs-tab[data-active],
.bn-container .mantine-Tabs-tab[data-active]:hover {
    border-color: var(--bn-colors-menu-text);
    color: var(--bn-colors-menu-text);
}

.bn-container .mantine-Tabs-panel {
    padding: 8px;
}

/* Mantine TextInput component base styles */
.bn-container .mantine-TextInput-input {
    background-color: var(--bn-colors-menu-background);
    border: solid var(--bn-colors-border) 1px;
    border-radius: 4px;
    color: var(--bn-colors-menu-text);
    height: 32px;
}

/* Mantine Tooltip component base styles */
.bn-container .mantine-Tooltip-tooltip {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
}

/* UI element styling */

/* Toolbar styling */
.bn-toolbar {
    background-color: var(--bn-colors-menu-background);
    border: var(--bn-border);
    border-radius: var(--bn-border-radius-medium);
    box-shadow: var(--bn-shadow-medium);
    flex-wrap: nowrap;
    gap: 2px;
    padding: 2px;
    width: fit-content;
}

.bn-toolbar:empty {
    display: none;
}

.bn-toolbar .mantine-Button-root,
.bn-toolbar .mantine-ActionIcon-root {
    background-color: var(--bn-colors-menu-background);
    border: none;
    border-radius: var(--bn-border-radius-small);
    color: var(--bn-colors-menu-text);
}

.bn-toolbar .mantine-Button-root:hover,
.bn-toolbar .mantine-ActionIcon-root:hover {
    background-color: var(--bn-colors-hovered-background);
    border: none;
    color: var(--bn-colors-hovered-text);
}

.bn-toolbar .mantine-Button-root[data-selected],
.bn-toolbar .mantine-ActionIcon-root[data-selected] {
    background-color: var(--bn-colors-selected-background);
    border: none;
    color: var(--bn-colors-selected-text);
}

.bn-toolbar .mantine-Button-root[data-disabled],
.bn-toolbar .mantine-ActionIcon-root[data-disabled]  {
    background-color: var(--bn-colors-disabled-background);
    border: none;
    color: var(--bn-colors-disabled-text);
}

.bn-toolbar .mantine-Menu-item {
    font-size: 12px;
    height: 30px;
}

.bn-toolbar .mantine-Menu-item:hover {
    background-color: var(--bn-colors-hovered-background);
}

.bn-toolbar .mantine-Popover-dropdown {
    background-color: var(--bn-colors-menu-background);
    border: var(--bn-border);
    border-radius: var(--bn-border-radius-medium);
    box-shadow: var(--bn-shadow-medium);
    color: var(--bn-colors-menu-text);
    gap: 4px;
    min-width: 145px;
    padding: 2px;
}

.bn-toolbar .mantine-Popover-dropdown .mantine-TextInput-root,
.bn-toolbar .mantine-Popover-dropdown .mantine-FileInput-root {
    width: 300px;
}

.bn-toolbar .mantine-Popover-dropdown .mantine-TextInput-wrapper,
.bn-toolbar .mantine-Popover-dropdown .mantine-FileInput-wrapper {
    padding: 0;
    border-radius: 4px;
}

.bn-toolbar .mantine-Popover-dropdown .mantine-TextInput-wrapper:hover {
    background-color: var(--bn-colors-hovered-background);
}

.bn-toolbar .mantine-Popover-dropdown .mantine-TextInput-input,
.bn-toolbar .mantine-Popover-dropdown .mantine-FileInput-input {
    border: none;
    font-size: 12px;
}

.bn-toolbar .mantine-Popover-dropdown .mantine-FileInput-input:hover {
    background-color: var(--bn-colors-hovered-background);
}

.bn-toolbar .mantine-Popover-dropdown .mantine-FileInput-section[data-position="left"] {
    color: var(--bn-colors-menu-text);
}

.bn-toolbar .mantine-Popover-dropdown .mantine-FileInput-placeholder {
    color: var(--bn-colors-menu-text);
}

/* Slash Menu styling*/
.bn-slash-menu {
    max-height: 100%;
    position: relative;
    box-shadow: var(--mantine-shadow-md);
    border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-gray-2);
    border-radius: var(--mantine-radius-default);
    padding: 4px;
}

.bn-slash-menu .mantine-Menu-item {
    height: 52px;
}

.bn-slash-menu .mantine-Menu-itemSection {
    color: var(--bn-colors-tooltip-text);
}

.bn-slash-menu .mantine-Menu-itemSection[data-position="left"] {
    background-color: var(--bn-colors-tooltip-background);
    border-radius: var(--bn-border-radius-small);
    padding: 8px;
}

.bn-slash-menu .mantine-Menu-itemLabel {
    padding-right: 16px;
}

.bn-slash-menu .mantine-Menu-itemLabel .mantine-Stack-root {
    gap: 0;
}

.bn-slash-menu .bn-slash-menu-loader {
    height: 20px;
    width: 100%;
}

.bn-slash-menu .bn-slash-menu-loader span {
    background-color: var(--bn-colors-side-menu);
}

/* Side Menu & Drag Handle styling */
.bn-side-menu {
    background-color: transparent;
}

.bn-drag-handle {
    height: 24px;
    width: 24px;
}

/* Image Panel styling*/
.bn-panel {
    background-color: var(--bn-colors-menu-background);
    border: var(--bn-border);
    border-radius: var(--bn-border-radius-medium);
    box-shadow: var(--bn-shadow-medium);
    padding: 2px;
    width: 500px;
}

.bn-panel .bn-tab-panel {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.bn-panel .mantine-TextInput-root,
.bn-panel .mantine-FileInput-root {
    width: 100%;
}

.bn-panel .mantine-Button-root {
    background-color: var(--bn-colors-menu-background);
    border: solid var(--bn-colors-border) 1px;
    border-radius: var(--bn-border-radius-small);
    color: var(--bn-colors-menu-text);
    height: 32px;
    width: 60%;
}

.bn-panel .mantine-Button-root:hover {
    background-color: var(--bn-colors-hovered-background);
}

.bn-panel.mantine-Text-root {
    text-align: center;
}

/* Table Handle styling */
.bn-table-handle {
    align-items: center;
    background-color: var(--bn-colors-menu-background);
    border: var(--bn-border);
    border-radius: var(--bn-border-radius-small);
    box-shadow: var(--bn-shadow-light);
    color: var(--bn-colors-side-menu);
    cursor: pointer;
    display: flex;
    justify-content: center;
    overflow: visible;
}

.bn-table-handle > svg {
    margin-inline: -4px;
}

.bn-table-handle:hover,
.bn-table-handle-dragging {
    background-color: var(--bn-colors-hovered-background);
}

/* Drag Handle & Table Handle Menu styling */
.bn-drag-handle-menu {
    width: 100px;
}

.bn-drag-handle-menu,
.bn-table-handle-menu {
    overflow: visible;
}

.bn-drag-handle-menu .mantine-Menu-item,
.bn-table-handle-menu .mantine-Menu-item {
    color: var(--bn-colors-menu-text);
    font-size: 12px;
    height: 30px;
}

/* Tooltip styling */
.bn-tooltip {
    background-color: var(--bn-colors-tooltip-background);
    border: var(--bn-border);
    border-radius: var(--bn-border-radius-medium);
    box-shadow: var(--bn-shadow-medium);
    color: var(--bn-colors-tooltip-text);
    padding: 4px 10px;
    text-align: center;
}

/* Color Icon styling */
.bn-tick-space {
    padding: 0;
    width: 20px;
}

/*
copied from mantine menu
https://github.com/mantinedev/mantine/blob/e3e3bb834de1f2f75a27dbc757dc0a2fc6a6cba8/packages/%40mantine/core/src/components/Menu/Menu.module.css
*/

.bn-slash-menu .mantine-Menu-label {
    color: var(--mantine-color-dimmed);
    font-weight: 500;
    font-size: var(--mantine-font-size-xs);
    padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-sm);
    cursor: default;
}

.bn-slash-menu-item {
    font-size: var(--mantine-font-size-sm);
    width: 100%;
    padding: calc(var(--mantine-spacing-xs) / 1.5) var(--mantine-spacing-sm);
    border-radius: var(--popover-radius, var(--mantine-radius-default));
    color: var(--menu-item-color, var(--mantine-color-text));
    display: flex;
    align-items: center;
    user-select: none;

    &:where([data-disabled], :disabled) {
        color: var(--mantine-color-dimmed);
        opacity: 0.6;
        pointer-events: none;
    }

    &:where([data-hovered]) {
    }
}

/* copied from mantine menu */
.bn-slash-menu-item .mantine-Menu-itemLabel {
    flex: 1;
}

/* copied from mantine menu */
.bn-slash-menu-item .mantine-Menu-itemSection {
    display: flex;
    justify-content: center;
    align-items: center;

    &:where([data-position="left"]) {
        margin-inline-end: var(--mantine-spacing-xs);
    }

    &:where([data-position="right"]) {
        margin-inline-start: var(--mantine-spacing-xs);
    }
}

/* copied from mantine badge */

.bn-badge-root {
    --badge-height: calc(1rem * var(--mantine-scale));
    --badge-fz: calc(0.5625rem * var(--mantine-scale));
    --badge-padding-x: calc(0.375rem * var(--mantine-scale));
    --badge-radius: calc(62.5rem * var(--mantine-scale));
    --badge-bg: var(--bn-colors-tooltip-background);
    --badge-color: var(--bn-colors-tooltip-text);
    align-items: center;
    background: var(--badge-bg);
    border: var(--badge-bd);
    border-radius: var(--badge-radius);
    color: var(--badge-color);
    cursor: inherit;
    display: inline-flex;
    font-size: var(--badge-fz);
    font-weight: 700;
    height: var(--badge-height);
    justify-content: center;
    letter-spacing: calc(0.01563rem * var(--mantine-scale));
    line-height: var(--badge-lh);
    overflow: hidden;
    padding: 0 var(--badge-padding-x);
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    width: fit-content;
}

.bn-badge-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* from https://github.com/mantinedev/mantine/blob/master/packages/%40mantine/core/src/components/UnstyledButton/UnstyledButton.module.css */
.bn-sidemenu-button {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 0;
    appearance: none;
    font-size: var(--mantine-font-size-md);
    text-align: left;
    text-decoration: none;
    color: inherit;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
}

/* from https://github.com/mantinedev/mantine/blob/master/packages/%40mantine/core/src/components/ActionIcon/ActionIcon.module.css */
.bn-sidemenu-button {
    --ai-size: 24px;
    --ai-color: var(--mantine-color-white);

    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    user-select: none;
    overflow: hidden;

    width: var(--ai-size);
    height: var(--ai-size);
    min-width: var(--ai-size);
    min-height: var(--ai-size);
    border-radius: var(--ai-radius, var(--mantine-radius-default));
    background: var(--ai-bg, var(--mantine-primary-color-filled));
    color: var(--ai-color, var(--mantine-color-white));
    border: 1px solid transparent;
    cursor: pointer;

    /* @mixin hover {
      &:where(:not([data-loading], :disabled, [data-disabled])) {
        background-color: var(
          --ai-hover,
          var(--mantine-primary-color-filled-hover)
        );
        color: var(--ai-hover-color, var(--ai-color));
      }
    } */
}

.bn-sidemenu-button {
    background-color: transparent;
    color: var(--bn-colors-side-menu);
}

.bn-sidemenu-button:hover {
    background-color: var(--bn-colors-hovered-background);
}

.bn-sidemenu-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 150ms ease, opacity 100ms ease;
    width: 100%;
    height: 100%;
}

