[data-content-type="pdf"] .bn-file-block-content-wrapper,
[data-content-type="pdf"] .bn-file-and-caption-wrapper {
    max-height: 800px;
}

[data-content-type="pdf"] .pdf-preview {
    border-radius: 4px;
    overflow: auto;
}