@font-face {
  font-family: Gilroy;
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/gilroy-regular.woff2') format('woff2');
}

@font-face {
  font-family: Gilroy;
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/gilroy-medium.woff2') format('woff2');
}

@font-face {
  font-family: Gilroy;
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/gilroy-semibold.woff2') format('woff2');
}

@font-face {
  font-family: Gilroy;
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/gilroy-bold.woff2') format('woff2');
}

@font-face {
  font-family: Gilroy;
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/gilroy-extrabold.woff2') format('woff2');
}
