.demo pre {
    background-color: transparent !important;
    margin: 0 !important;
    padding: 0 !important;
}

.demo code > span {
    padding: 0 !important;
}

.demo code > span:last-child {
    display: none;
}

.demo .bn-container, .demo .bn-editor {
    box-shadow: none !important;
    height: 100%;
}

.demo .bn-editor {
    padding-block: 1rem;
}