@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.text-default {
    color: var(--bn-colors-editor-text);
}

.text-red {
    color: var(--bn-colors-highlights-red-text);
}

.text-orange {
    color: var(--bn-colors-highlights-orange-text);
}

.text-yellow {
    color: var(--bn-colors-highlights-yellow-text);
}

.text-green {
    color: var(--bn-colors-highlights-green-text);
}

.text-blue {
    color: var(--bn-colors-highlights-blue-text);
}

.text-purple {
    color: var(--bn-colors-highlights-purple-text);
}

.background-red {
    background-color: var(--bn-colors-highlights-red-background);
}

.background-orange {
    background-color: var(--bn-colors-highlights-orange-background);
}

.background-yellow {
    background-color: var(--bn-colors-highlights-yellow-background);
}

.background-green {
    background-color: var(--bn-colors-highlights-green-background);
}

.background-blue {
    background-color: var(--bn-colors-highlights-blue-background);
}

.background-purple {
    background-color: var(--bn-colors-highlights-purple-background);
}

/* Positions the formatting toolbar above the editor. */
.bn-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
}
