html {
  font-family: Inter, sans-serif;
  background: #f9f9f9;
}

@media (prefers-color-scheme: dark) {
  html {
    background: #0c0c0c;
  }
}

.editor {
  position: absolute;
  inset: 0;
  max-width: 1024px;
  margin: 0 auto;
  padding: 48px 0;
}

.bn-editor {
  padding: 36px 52px;
  min-height: 100%;
}

/* For mobile */
.floating-threads {
  display: none;
}

/* For desktop */
.anchored-threads {
  display: block;
  max-width: 300px;
  width: 100%;
  position: absolute;
  right: 12px;
}

@media (max-width: 640px) {
  .floating-threads {
    display: block;
  }

  .anchored-threads {
    display: none;
  }
}