.bn-combobox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.bn-combobox-items {
  max-width: 50%;
}

.bn-combobox-items:empty {
  display: none;
}

div[data-type="modification"] {
  display: inline;
}

ins,
[data-type="modification"] {
  /* background: rgba(24, 122, 220, 0.1); */
  border-bottom: 2px solid rgba(24, 122, 220, 0.1);
  color: rgb(20, 95, 170);
  text-decoration: none;
}

del,
[DISABLED-data-node-deletion] {
  color: rgba(100, 90, 75, 0.3);
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}

div[data-type="insertion"],
ins {
  /* // fade in */
  animation: fadeIn 0.6s ease-in-out;
}

del {
  animation: fadeOut 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

.agent-char {
  animation: fadeIn 0.6s linear;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
