.separator {
  padding-left: 0.1em !important;
  padding-right: 0.1em !important;
}
.separator::before {
  content: "|";
  color: lightgray;
}

.separator:hover {
  cursor: auto !important;
  background: white !important;
}
