/* AI Block */
[data-content-type="ai"] .bn-ai-prompt-box {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  outline: solid 3px rgba(154, 56, 173, 0.2);
  padding: 12px;
  width: 100%;
}

[data-content-type="ai"] .bn-ai-prompt-box svg {
  color: rgba(154, 56, 173, 0.2);
  width: 24px;
  height: 24px;
}

[data-content-type="ai"] .bn-ai-prompt-box span {
  flex: 1;
}

[data-content-type="ai"] .bn-ai-prompt-box button {
  background-color: transparent;
  border: solid 1px rgba(120, 120, 120, 0.3);
  border-radius: 4px;
  color: rgba(154, 56, 173, 0.5);
  cursor: pointer;
  user-select: none;
}

[data-content-type="ai"][data-prompt] p {
  border-radius: 4px;
}

.bn-editor[contenteditable="true"]
  [data-content-type="ai"][data-prompt]
  p:hover {
  outline: solid 3px rgba(154, 56, 173, 0.1);
}

.bn-editor[contenteditable="true"]
  [data-content-type="ai"][data-prompt][data-is-focused]
  p {
  outline: solid 3px rgba(154, 56, 173, 0.2);
}

.bn-side-menu[data-block-type="ai"]:not([data-prompt]) {
  height: 58px;
}

.bn-combobox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

div:not(.bn-popover-content) > .bn-combobox-input,
div:not(.bn-popover-content) > .bn-combobox-items:not(:empty) {
  background-color: var(--bn-colors-menu-background);
  border: var(--bn-border);
  border-radius: var(--bn-border-radius-medium);
  box-shadow: var(--bn-shadow-medium);
  color: var(--bn-colors-menu-text);
  gap: 4px;
  min-width: 145px;
  padding: 2px;
}

.bn-combobox-items {
  max-width: 50%;
}

/* Mantine (TODO) */
/*.bn-toolbar .mantine-Button-root.bn-show-prompt-button,*/
/*.bn-toolbar .mantine-Button-root.bn-show-prompt-button:hover {*/
/*  color: rgba(154, 56, 173, 0.5);*/
/*}*/
