/* This file contains BlockNote-specific fixes for the styles in
 ariakitStyles.css. */

@import "./ariakitStyles.css";

.input-wrapper {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.bn-toolbar .button {
  width: unset;
}

.bn-toolbar .button[data-selected] {
  padding-top: 0.125rem;
  box-shadow: inset 0 0 0 1px var(--border),
  inset 0 2px 0 var(--border);
}

.bn-toolbar .button[data-selected]:where(.dark, .dark *) {
  box-shadow: inset 0 0 0 1px var(--border),
  inset 0 1px 1px 1px var(--shadow);
}

.bn-toolbar .popover {
  gap: 0.5rem;
}

.bn-tab-panel {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bn-file-input {
  max-width: 100%;
}