/* Formatting/Link Toolbar Root */
.bn-formatting-toolbar-root,
.bn-link-toolbar-root {
  display: flex;
  max-width: 100%;
  align-items: center;
  gap: 0.25rem;
  overflow-x: auto;
  border-radius: 0.5rem;
  background-color: hsl(204 20% 100%);
  padding: 0.25rem;
  box-shadow:
          0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.bn-formatting-toolbar-root:where(.dark, .dark *),
.bn-link-toolbar-root:where(.dark, .dark *) {
  background-color: hsl(204 4% 16%);
  box-shadow:
          0 1px 3px 0 rgb(0 0 0 / 0.25),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
}

/* Formatting/Link Toolbar Button */
.bn-formatting-toolbar-button,
.bn-link-toolbar-button {
  --outline-offset: 0;
  --outline: hsl(204 100% 40%);
  --depth: 2px;
  --padding-block: 0px;
  --text: hsl(204 4% 0%);
  --background: hsl(204 20% 100%);
  --border: hsl(204 4% 0% / 13%);
  --light: hsl(204 20% 100% / 20%);
  --shadow: hsl(204 4% 0% / 10%);
  outline-width: 2px;
  outline-offset: var(--outline-offset);
  outline-color: var(--outline);
  user-select: none;
  white-space: nowrap;
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border-style: none;
  background-color: var(--background);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--text);
  text-decoration-line: none;
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 2px 0 var(--light),
          inset 0 -1px 0 var(--shadow),
          0 1px 1px var(--shadow);
}

.bn-formatting-toolbar-button:not(:active):hover,
.bn-link-toolbar-button:not(:active):hover {
  --border: hsl(204 4% 0% / 33%);
}

.bn-formatting-toolbar-button[aria-disabled="true"],
.bn-link-toolbar-button[aria-disabled="true"] {
  opacity: 0.5;
}

.bn-formatting-toolbar-button[data-focus-visible],
.bn-link-toolbar-button[data-focus-visible] {
  outline-style: solid;
}

.bn-formatting-toolbar-button:active,
.bn-link-toolbar-button:active,
.bn-formatting-toolbar-button[data-active],
.bn-link-toolbar-button[data-active],
.bn-formatting-toolbar-button[data-selected="true"],
.bn-link-toolbar-button[data-selected="true"] {
  padding-top: calc(var(--padding-block) + var(--depth));
  padding-bottom: calc(var(--padding-block) - var(--depth));
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 2px 0 var(--border);
}

.bn-formatting-toolbar-button:where(.dark, .dark *),
.bn-link-toolbar-button:where(.dark, .dark *) {
  --text: hsl(204 20% 100%);
  --background: hsl(204 20% 100% / 5%);
  --border: hsl(204 20% 100% / 10%);
  --light: hsl(204 20% 100% / 5%);
  --shadow: hsl(204 4% 0% / 25%);
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 -1px 0 1px var(--shadow),
          inset 0 1px 0 var(--light);
}

.bn-formatting-toolbar-button:where(.dark, .dark *):not(:active):hover,
.bn-link-toolbar-button:where(.dark, .dark *):not(:active):hover {
  --border: hsl(204 20% 100% / 25%);
}

.bn-formatting-toolbar-button:where(.dark, .dark *):active,
.bn-link-toolbar-button:where(.dark, .dark *):active,
.bn-formatting-toolbar-button:where(.dark, .dark *)[data-active],
.bn-link-toolbar-button:where(.dark, .dark *)[data-active],
.bn-formatting-toolbar-button:where(.dark, .dark *)[data-selected="true"],
.bn-link-toolbar-button:where(.dark, .dark *)[data-selected="true"] {
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 1px 1px 1px var(--shadow);
}

/* Formatting Toolbar Select */
.bn-formatting-toolbar-root button[role="combobox"],
.bn-link-toolbar-root button[role="combobox"] {
  --border: rgb(0 0 0/13%);
  --highlight: rgb(255 255 255/20%);
  --shadow: rgb(0 0 0/10%);
  display: flex;
  height: 2.5rem;
  user-select: none;
  align-items: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: hsl(204 20% 100%);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(204 4% 0%);
  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 2px 0 var(--highlight),
          inset 0 -1px 0 var(--shadow),
          0 1px 1px var(--shadow);
  width: 200px;
  justify-content: space-between;
}


.bn-formatting-toolbar-root button[role="combobox"]:where(.dark, .dark *),
.bn-link-toolbar-root button[role="combobox"]:where(.dark, .dark *) {
  --border: rgb(255 255 255/10%);
  --highlight: rgb(255 255 255/5%);
  --shadow: rgb(0 0 0/25%);
  background-color: hsl(204 20% 100% / 0.05);
  color: hsl(204 20% 100%);
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 -1px 0 1px var(--shadow),
          inset 0 1px 0 var(--highlight);
}

.bn-formatting-toolbar-root button[role="combobox"]:not(:active):hover,
.bn-link-toolbar-root button[role="combobox"]:not(:active):hover {
  --border: rgb(0 0 0/33%);
}

.bn-formatting-toolbar-root button[role="combobox"]:where(.dark, .dark *):not(:active):hover,
.bn-link-toolbar-root button[role="combobox"]:where(.dark, .dark *):not(:active):hover {
  --border: rgb(255 255 255/25%);
}

.bn-formatting-toolbar-root button[role="combobox"][aria-disabled="true"],
.bn-link-toolbar-root button[role="combobox"][aria-disabled="true"] {
  opacity: 0.5;
}

.bn-formatting-toolbar-root button[role="combobox"][data-focus-visible],
.bn-link-toolbar-root button[role="combobox"][data-focus-visible] {
  outline-style: solid;
}

.bn-formatting-toolbar-root button:active,
.bn-link-toolbar-root button:active,
.bn-formatting-toolbar-root button[data-active],
.bn-link-toolbar-root button[data-active]{
  padding-top: 0.125rem;
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 2px 0 var(--border);
}

@media (min-width: 640px) {
  .bn-formatting-toolbar-root button,
  .bn-link-toolbar-root button {
    gap: 0.5rem;
  }
}

.bn-formatting-toolbar-root button:active:where(.dark, .dark *),
.bn-link-toolbar-root button:active:where(.dark, .dark *),
.bn-formatting-toolbar-root button[data-active]:where(.dark, .dark *),
.bn-link-toolbar-root button[data-active]:where(.dark, .dark *){
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 1px 1px 1px var(--shadow);
}

/* Select, Menu, and Popover Dropdown */
.bn-formatting-toolbar-select,
.bn-generic-menu-dropdown,
.bn-generic-popover-content {
  z-index: 50;
  display: flex;
  max-height: min(var(--popover-available-height, 300px), 300px);
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: hsl(204 20% 100%);
  padding: 0.5rem;
  color: hsl(204 4% 0%);
  box-shadow:
          0 10px 15px -3px rgb(0 0 0 / 0.1),
          0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.bn-formatting-toolbar-select:focus-visible,
.bn-generic-menu-dropdown:focus-visible,
.bn-generic-popover-content:focus-visible,
.bn-formatting-toolbar-select[data-focus-visible],
.bn-generic-menu-dropdown[data-focus-visible],
.bn-generic-popover-content[data-focus-visible] {
  outline: 2px solid hsl(204 100% 40%);
  outline-offset: -1px;
}

.bn-formatting-toolbar-select:where(.dark, .dark *),
.bn-generic-menu-dropdown:where(.dark, .dark *),
.bn-generic-popover-content:where(.dark, .dark *) {
  border-color: hsl(204 4% 24%);
  background-color: hsl(204 4% 16%);
  color: hsl(204 20% 100%);
  box-shadow:
          0 10px 15px -3px rgb(0 0 0 / 0.25),
          0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Menu Label */
.bn-generic-menu-label {
  cursor: default;
  padding: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  opacity: 0.6;
}

.bn-generic-menu-label + * {
  scroll-margin-top: 2.5rem;
}

/* Select and Menu Item */
.bn-formatting-toolbar-select > div,
.bn-generic-menu-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}

.bn-formatting-toolbar-select > div[aria-disabled="true"],
.bn-generic-menu-item[aria-disabled="true"] {
  opacity: 0.5;
}

.bn-formatting-toolbar-select > div[data-active-item],
.bn-generic-menu-item[data-active-item] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

/* Image Panel Root */
.bn-image-panel-root {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  background-color: hsl(204 20% 100%);
  padding: 0.5rem;
  box-shadow:
          0 1px 3px 0 rgb(0 0 0 / 0.1),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.bn-image-panel-root:where(.dark, .dark *) {
  background-color: hsl(204 4% 16%);
  box-shadow:
          0 1px 3px 0 rgb(0 0 0 / 0.25),
          0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.bn-image-panel-root > div {
  display: flex;
  gap: 0.5rem;
}

.bn-image-panel-root > div > button {
  display: flex;
  height: 2.5rem;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: 0.25rem;
  border-style: none;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
}

.bn-image-panel-root > div > button:hover {
  background-color: hsl(204 4% 0% / 7.5%);
}

.bn-image-panel-root > div > button[aria-disabled="true"] {
  opacity: 0.5;
}

.bn-image-panel-root > div > button[aria-selected="true"] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

.bn-image-panel-root > div > button:hover[aria-selected="true"] {
  background-color: hsl(204 100% 32%);
}

.bn-image-panel-root > div > button[data-focus-visible] {
  outline-style: solid;
}

.bn-image-panel-root > div > button:active,
.bn-image-panel-root > div > button[data-active] {
  padding-top: 0.125rem;
}

.bn-image-panel-root > div > button:hover:where(.dark, .dark *) {
  background-color: hsl(204 20% 100% / 0.1);
}

.bn-image-panel-root > div > button[aria-selected="true"]:where(.dark, .dark *) {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

.bn-image-panel-root > div > button:hover[aria-selected="true"]:where(.dark, .dark *) {
  background-color: hsl(204 100% 32%);
}

.bn-image-panel-tab-panel {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  width: 500px;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: hsl(204 20% 100%);
}

.bn-image-panel-text-input {
  height: 2.5rem;
  width: 100%;
  border-radius: 0.375rem;
  border-style: none;
  background-color: hsl(204 20% 94% / 0.4);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(204 4% 0%);
  box-shadow:
          inset 0 0 0 1px rgba(0 0 0 / 0.1),
          inset 0 2px 5px 0 rgba(0 0 0 / 0.05);
}

.bn-image-panel-text-input::placeholder {
  color: hsl(204 4% 0% / 0.6);
}

.bn-image-panel-text-input:hover {
  background-color: hsl(204 20% 94%);
}

.bn-image-panel-text-input:focus-visible,
.bn-image-panel-text-input[data-focus-visible] {
  outline: 2px solid hsl(204 100% 40%);
  outline-offset: -1px;
}

.bn-image-panel-text-input:where(.dark, .dark *) {
  background-color: hsl(204 4% 10%);
  color: hsl(204 20% 100%);
  box-shadow:
          inset 0 0 0 1px rgba(255 255 255 / 0.12),
          inset 0 -1px 0 0 rgba(255 255 255 / 0.05),
          inset 0 2px 5px 0 rgba(0 0 0 / 0.15);
}

.bn-image-panel-text-input:where(.dark, .dark *)::placeholder {
  color: hsl(204 20% 100% / 46%);
}

.bn-image-panel-text-input:hover:where(.dark, .dark *) {
  background-color: hsl(204 4% 8%);
}

.bn-image-panel-file-input {
  border-radius: 0.375rem;
  border-style: none;
  box-shadow:
          inset 0 0 0 1px rgba(0 0 0 / 0.1),
          inset 0 2px 5px 0 rgba(0 0 0 / 0.05);
  padding: 0.5rem;
  width: 100%;
}

.bn-image-panel-button {
  --border: rgb(0 0 0/13%);
  --highlight: rgb(255 255 255/20%);
  --shadow: rgb(0 0 0/10%);
  display: flex;
  height: 2.5rem;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-style: none;
  background-color: hsl(204 20% 100%);
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(204 4% 0%);
  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 2px 0 var(--highlight),
          inset 0 -1px 0 var(--shadow),
          0 1px 1px var(--shadow);
  width: 60%;
  border-radius: 0.375rem;
}

.bn-image-panel-button:where(.dark, .dark *) {
  --border: rgb(255 255 255/10%);
  --highlight: rgb(255 255 255/5%);
  --shadow: rgb(0 0 0/25%);
  background-color: hsl(204 20% 100% / 0.05);
  color: hsl(204 20% 100%);
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 -1px 0 1px var(--shadow),
          inset 0 1px 0 var(--highlight);
}

.bn-image-panel-button:not(:active):hover {
  --border: rgb(0 0 0/33%);
}

.bn-image-panel-button:where(.dark, .dark *):not(:active):hover {
  --border: rgb(255 255 255/25%);
}

.bn-image-panel-button[aria-disabled="true"] {
  opacity: 0.5;
}

.bn-image-panel-button[data-focus-visible] {
  outline-style: solid;
}

.bn-image-panel-button:active,
.bn-image-panel-button[data-active] {
  padding-top: 0.125rem;
  box-shadow:
          inset 0 0 0 1px var(--border),
          inset 0 2px 0 var(--border);
}


/* Mantine copied styles */
/*.bn-formatting-toolbar-root,*/
/*.bn-link-toolbar-root {*/
/*  background-color: var(--bn-colors-menu-background);*/
/*  border: var(--bn-border);*/
/*  border-radius: var(--bn-border-radius-medium);*/
/*  box-shadow: var(--bn-shadow-medium);*/
/*  display: flex;*/
/*  flex-wrap: nowrap;*/
/*  font-size: 0.75rem;*/
/*  font-weight: 600;*/
/*  gap: 2px;*/
/*  padding: 2px;*/
/*  width: fit-content;*/
/*}*/

/*.bn-formatting-toolbar-root:empty,*/
/*.bn-link-toolbar-root:empty {*/
/*  display: none;*/
/*}*/

/*.bn-formatting-toolbar-root button,*/
/*.bn-formatting-link-root button {*/
/*  align-items: center;*/
/*  background-color: var(--bn-colors-menu-background);*/
/*  border: none;*/
/*  border-radius: var(--bn-border-radius-small);*/
/*  color: var(--bn-colors-menu-text);*/
/*  display: flex;*/
/*  height: 1.875rem;*/
/*  justify-content: center;*/
/*  width: 1.875rem;*/
/*}*/

/*.bn-formatting-toolbar-root svg,*/
/*.bn-formatting-link-root svg {*/
/*  height: 1rem;*/
/*  width: 1rem;*/
/*}*/

/*.bn-formatting-toolbar-root button:hover,*/
/*.bn-formatting-link-root button:hover {*/
/*  background-color: var(--bn-colors-hovered-background);*/
/*  border: none;*/
/*  color: var(--bn-colors-hovered-text);*/
/*}*/

/*.bn-formatting-toolbar-root button[data-selected],*/
/*.bn-formatting-link-root button[data-selected] {*/
/*  background-color: var(--bn-colors-selected-background);*/
/*  border: none;*/
/*  color: var(--bn-colors-selected-text);*/
/*}*/

/*.bn-formatting-toolbar-root button[disabled],*/
/*.bn-formatting-link-root button[disabled] {*/
/*  background-color: var(--bn-colors-disabled-background);*/
/*  border: none;*/
/*  color: var(--bn-colors-disabled-text);*/
/*}*/


/*.bn-formatting-toolbar-root button[role="combobox"],*/
/*.bn-formatting-link-root button[role="combobox"] {*/
/*  gap: 0.625rem;*/
/*  padding-inline: calc(0.875rem / 1.5);*/
/*  width: fit-content;*/
/*}*/

/*.bn-formatting-toolbar-root button[role="combobox"] span svg,*/
/*.bn-formatting-link-root button[role="combobox"] span svg {*/
/*  height: 0.75rem;*/
/*  width: 0.75rem;*/
/*}*/

/*.bn-formatting-toolbar-root [data-dialog],*/
/*.bn-formatting-link-root [data-dialog] {*/
/*  background-color: var(--bn-colors-menu-background);*/
/*  border: var(--bn-border);*/
/*  border-radius: var(--bn-border-radius-medium);*/
/*  box-shadow: var(--bn-shadow-medium);*/
/*  color: var(--bn-colors-menu-text);*/
/*  gap: 4px;*/
/*  !*min-width: 145px;*!*/
/*  padding: 2px;*/
/*  width: max-content;*/
/*}*/

/*.bn-formatting-toolbar-root [data-dialog] > div,*/
/*.bn-formatting-link-root [data-dialog] > div {*/
/*  align-items: center;*/
/*  border-radius: var(--bn-border-radius-small);*/
/*  cursor: pointer;*/
/*  display: flex;*/
/*  font-weight: normal;*/
/*  height: 30px;*/
/*  justify-content: start;*/
/*}*/

/*.bn-formatting-toolbar-root [data-dialog] > div:hover,*/
/*.bn-formatting-link-root [data-dialog] > div:hover {*/
/*  background-color: var(--bn-colors-hovered-background);*/
/*}*/