.edit-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.edit-button {
    border: 1px solid gray;
    border-radius: 4px;
    padding-inline: 4px;
}

.edit-button:hover {
    border: 1px solid lightgrey;
}