html {
  -webkit-font-smoothing: antialiased;
}

body {
  overscroll-behavior: none;
}

#nd-sidebar,
.dark #nd-sidebar {
  background: var(--color-fd-background);
}

/* TODO: Don't think we should need to add this manually - bug in fumadocs? */
#nd-subnav [data-active="true"] {
  color: var(--color-fd-primary);
}

:focus-visible {
  box-shadow: unset !important;
}

.demo .bn-container:not(.bn-comment-editor),
.demo .bn-editor {
  height: 100%;
}

.demo .bn-container:not(.bn-comment-editor) .bn-editor {
  height: 100%;
}

.demo .bn-editor {
  overflow: auto;
  padding-block: 1rem;
}

.demo-contents a {
  color: revert;
  text-decoration: revert;
}

.demo code.bn-inline-content {
  font-size: 1em;
  line-height: 1.5;
  display: block;
}
