.editable-block-non-editable-text, .non-editable-block {
  border: 1px solid;
  border-radius: 2px;
  font-style: italic;
  padding-right: 4px;
}

.editable-block {
  color: red;
}

.non-editable-block {
  color: green;
}