.hero-demo {
    @media only screen and (hover: none) and (pointer: coarse) {
        display: none; /* disable on mobile */
    }
}

.hero-demo .bn-container, .hero-demo .bn-editor {
    height: 100%
}

.hero-demo .bn-editor {
    overflow: auto;
    min-height: 100%;
    /* Removes focus outline */
    box-shadow: none !important;
    padding-block: 1rem
}

.hero-demo a {
    color: revert;
    text-decoration: revert;
}