@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Hack needed because the ShadCN Tailwind config overrides the Nextra Tailwind
config. This is a problem because ShadCN relies on CSS variables which are only
scoped to the editor, and are undefined when Nextra components try to use them.
Seems like this only affects border radius in the demos though. */
body {
  --radius: 0.5rem;
}

/* nextra's contain:paint breaks the code block language selector*/
.ProseMirror pre {
  contain: none;
}
