.download-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  width: 100%;
}

.download-button {
  background-color: #0090ff;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.download-button:hover {
  background-color: #30b0ff;
}
