name: build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, edited]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Cache node modules
        uses: actions/cache@v4
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        run: npm install

      - name: Bootstrap packages
        run: npm run bootstrap

      - name: Lint packages
        run: npm run lint

      - name: Build packages
        run: npm run build

      - name: Run unit tests
        run: npm run test

      - name: Upload webpack stats artifact (editor)
        uses: relative-ci/agent-upload-artifact-action@v2
        with:
          webpackStatsFile: ./playground/dist/webpack-stats.json
          artifactName: relative-ci-artifacts-editor
  playwright:
    name: "Playwright Tests"
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.49.1-noble
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - run: apt-get update && apt-get install -y build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev
      - name: Install dependencies
        run: npm ci

      - name: Build packages
        run: npm run build

      - name: Run server and Playwright tests
        run: |
          npm run start:built & 
          npx wait-on http://localhost:3000
          cd tests && npx playwright test

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: tests/playwright-report/
          retention-days: 30
