name: build
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches:
      - main
      - "project/**"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Cache node modules
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: cache playwright
        id: playwright-cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: pw-new-${{ runner.os }}-${{ hashFiles('**/package-lock.json') }}

      - name: Install Dependencies
        run: npm install

      - name: Bootstrap packages
        run: npm run bootstrap

      - name: Lint packages
        run: npm run lint
        env:
          CI: true

      - name: Build packages
        run: npm run build
        env:
          CI: true

      - name: Run unit tests
        run: npm run test
        env:
          CI: true

      - name: Run server
        run: npm run start:built & npx wait-on http://localhost:3000
        env:
          CI: true

      - name: Install Playwright
        run: npx playwright install --with-deps

      # - name: Run Playwright tests
      #   run: npx playwright test

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

      - name: Upload webpack stats artifact (core)
        uses: relative-ci/agent-upload-artifact-action@v1
        with:
          webpackStatsFile: ./packages/core/dist/webpack-stats.json
          artifactName: relative-ci-artifacts-core

      - name: Upload webpack stats artifact (react)
        uses: relative-ci/agent-upload-artifact-action@v1
        with:
          webpackStatsFile: ./packages/react/dist/webpack-stats.json
          artifactName: relative-ci-artifacts-react

      - name: Upload webpack stats artifact (editor)
        uses: relative-ci/agent-upload-artifact-action@v1
        with:
          webpackStatsFile: ./examples/editor/dist/webpack-stats.json
          artifactName: relative-ci-artifacts-editor
